@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#root {
    display: flex;
    width: 100vw;
    height: 100vh;
}